/*div{
    border:2px crimson solid;
    margin:20px;
    padding:20px
}
span{
    margin:20px;
    padding:20px;
}*/
/*p.yolo{
    color:crimson;
}
p.yodo{
    color:green;
}
p.yolo.feedback{
    border:#54cc54 1px dashed;
    color:#93e634
}
#goodg{
    color:skyblue
}*/

/*div .yolo{
    color:red;
}
a[href*="google"]{
    background-color:#239723;
    color:white;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
}
a[href$=".com"]{
    color:white;
    background-color:red;
    border:2px solid purple
}*/
div{
    color:lightcoral;
    padding:40px;
    margin:40px;
    border:solid black 2px;
    font-weight:bold;
    letter-spacing: 2px; 
}
p{
    margin:inherit;
    border:inherit;
    color:crimson;
}
p{
    color:orange; 
}