.banner{
    position:relative;
}
.banner img{
    max-width:100%;
}
.banner .welcome{
    position:absolute;
    top:30%;
    left:0px;
    background-color:#feb614;
    color:white;
    padding:30px;

}
.banner h2{
    font-size:74px;
}
.banner h2 span{
    font-size:1.3em;
}
header{
    padding:20px;
    background-color:#F63232;
    text-align:center;
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
    left:0;
}
header h1{
    color:white;
    border:8px solid;
    padding:20px;
    display:inline-block;
    border-radius:1000px;
}